.churvoxOptionC .worktop {
  display: none !important;
}

.churvoxOptionC .workspace {
  height: calc(100vh - 110px) !important;
  padding-top: 0 !important;
}

.churvoxOptionC .cocPage,
.churvoxOptionC .cocPage.four {
  min-height: calc(100vh - 128px) !important;
}

@media (max-width: 860px) {
  .churvoxOptionC .workspace {
    height: auto !important;
  }

  .churvoxOptionC .cocPage,
  .churvoxOptionC .cocPage.four {
    min-height: auto !important;
  }
}
